{% extends "layouts/dashboard.html" %} 
{% load static %}

{% block head %}
  <title>Dashboard</title>
{% endblock head %} 

{% block dashboard_content %}
  <div class="flex flex-col px-[1rem]">
    <div class="grid grid-cols-3 auto-cols-max gap-4">
      <div class="flex flex-col bg-base-200 rounded-xl p-[1rem]">
        <div class="text-base-content text-[17pt]">Total patients</div>
        <div class="text-primary font-bold">10</div>
      </div>
      <div class="flex flex-col bg-base-200 rounded-xl p-[1rem]">
        <div class="text-base-content text-[17pt]">Total staff</div>
        <div class="text-primary font-bold">10</div>
      </div>
      <div class="flex flex-col bg-base-200 rounded-xl p-[1rem]">
        <div class="text-base-content text-[17pt]">Total departments</div>
        <div class="text-primary font-bold">10</div>
      </div>
      <div class="flex flex-col bg-base-200 rounded-xl p-[1rem]">
        <div class="text-base-content text-[17pt]">Total specialities</div>
        <div class="text-primary font-bold">10</div>
      </div>
      <div class="flex flex-col bg-base-200 rounded-xl p-[1rem]">
        <div class="text-base-content text-[17pt]">Total appointments</div>
        <div class="text-primary font-bold">10</div>
      </div>
    </div>
  </div>
{% endblock dashboard_content %}
