{% extends "layouts/base.html" %} 
{% load static %}

{% block content %}
  <div class="drawer lg:drawer-open">
    <input id="main-drawer" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content flex flex-col">
      <!-- Page content here -->
      {% include "components/navbar-dashboard.html" %}
      
      {% block dashboard_content %}
      {% endblock dashboard_content %}
    </div> 
    <div class="drawer-side">
      <label for="main-drawer" aria-label="close sidebar" class="drawer-overlay"></label> 
      <ul class="menu p-4 w-80 min-h-full bg-base-200 text-base-content">
        <!-- Sidebar content here -->
        <ul class="menu flex flex-1 w-full bg-base-200 rounded-box">
          <li><a {% if request.path == '/dashboard/' %}class="bg-primary text-primary-content"{% endif %} href="{% url "dashboard" %}"><i class="fas fa-home"></i>Dashboard</a></li>
          <li>
            <details open>
              <summary><i class="fas fa-user"></i>Patient</summary>
              <ul>
                <li><a {% if request.path == '/dashboard/patients/add' %}class="bg-primary text-primary-content"{% endif %} href="{% url "add-patient" %}"><i class="fas fa-plus"></i>Add patient</a></li>
                <li><a {% if request.path == '/dashboard/patients' %}class="bg-primary text-primary-content"{% endif %} href="{% url "patient-list" %}"><i class="fas fa-list"></i>Patient list</a></li>
              </ul>
            </details>
            <details open>
              <summary><i class="fas fa-user-doctor"></i>Doctors</summary>
              <ul>
                <li><a><i class="fas fa-plus"></i>Add doctor</a></li>
                <li><a><i class="fas fa-list"></i>Doctor list</a></li>
              </ul>
            </details>
          </li>
        </ul>
      </ul>
    
    </div>
  </div>
{% endblock content %}
