{% extends "layouts/base.html" %} 
{% load static %}

{% block head %}
  <title>Welcome to E-Clinic</title>
{% endblock head %} 

{% block content %}
  {% include "components/navbar-simple.html" %}
  <div class="flex flex-1 bg-[url('/static/assets/wave-2.svg')] bg-no-repeat bg-bottom">
    <div class="flex flex-1">
      <div class="flex flex-1 p-[2rem]">
        <div class="flex flex-1 flex-col items-center lg:max-w-[40rem] text-center lg:p-[3rem] lg:shadow-[rgba(0,_0,_0,_0.3)_0px_30px_50px] rounded-xl lg:bg-base-100">
          <div class="text-[30pt] font-bold mb-[2rem]">Sign in</div>

          <form class="flex flex-1 flex-col w-full" method="post">
            {% csrf_token %}

            <label class="flex w-full form-control">
              <div class="label">
                <span class="label-text"><i class="fas fa-user mr-[0.5rem]"></i> Username</span>
              </div>
              <input name="username" type="text" placeholder="Username" class="input input-bordered w-full" />
            </label>
            <label class="flex w-full form-control">
              <div class="label">
                <span class="label-text"><i class="fas fa-key mr-[0.5rem]"></i>Password</span>
              </div>
              <input name="password" type="password" placeholder="Password" class="input input-bordered w-full" />
            </label>

            {% if messages %}
              {% for message in messages %}
                {% if message.tags == 'error' %}
                  <div role="alert" class="alert alert-error mt-[1rem]">
                    <i class="fas fa-times"></i>
                    <span>{{message}}</span>
                  </div>
                {% endif %}
              {% endfor %}
            {% endif %}
  
            <button type="submit" class="btn btn-primary w-full mt-[3rem]">
              <i class="fas fa-right-to-bracket"></i> Sign in 
            </button>
          </form>

        </div>
      </div>
      <div class="flex-1 px-[2rem] w-full justify-center items-center hidden lg:flex">
        <img class="h-[30%]" src="{% static "assets/auth.svg" %}" alt="sign-in">
      </div>
    </div>
  </div>
{% endblock content %}
